
body{
    background-image: url(images/Wallpaperrestaurant.jpg);
}
h2{
   margin-left: 20px;
   display: inline;
   float: right;
   color: black;
}
#division{
        display: flex;
        justify-content: flex-end;
        font-size: larger;
        
        border: white 2px solid;
        
        color: black;
    
}
img{
    /*margin-left: 500px;
    margin-left: 500px;*/
    width: 700px;
    height: 700px;
    display:flex;
    justify-content: center;
    margin-left: 30%;
}
#Link{
    margin-left: 500px;
    margin-right: 500px;
    font-size: 50px;
    background-color: aliceblue;
    text-align: center;
}


h1,h3{
    margin-left: 700px;
    margin-right: 400px;
    background-color: black;
    text-align: center;
    font-size: 50px;
    color:salmon;
    width: 500px;
} ul{
    background-color: black;
    color:white;
    margin-left: 300px;
    width:150px;
    list-style: outside;
}
h4{
   margin-left: 300px;
    background-color: aliceblue;
    font-size: 20px;
    width:150px;
    text-align: center;
}
#resto{
    background-color: black;
    text-align: center;
    font-size: 50px;
    color:salmon;
    width: 800px;
    margin-right: 50px;
    margin-left: 10px;
}
